.pioenvs
.clang_complete
.gcc-flags.json
.piolibdeps
CMakeListsPrivate.txt
.pioenvs
.piolibdeps
.vscode/*.db
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/.BROWSE.C_CPP.DB
.vscode/.BROWSE.C_CPP.DB-shm
.vscode/.BROWSE.C_CPP.DB-wal
test/build_debug